<%= tag.div class: "challenge-day-card card mb-2 #{@klass}" do %>
  <div class="card-body">
    <%= tag.p @challenge_day.date.strftime("%B %d"), class: "h4" %>
    <a class="link-warning" href="" data-bs-toggle="modal" data-bs-target=<%= "#" + dom_id(@challenge_day, 'modal') %>>Show image</a>
    <% if @challenge_day.note? %>
      <% @challenge_day.note.split("\r\n").each do |line| %>
        <%= tag.p line, class: 'white' %>
      <% end %>
    <% end %>

    <div class="modal fade" id=<%= dom_id(@challenge_day, 'modal') %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @challenge_day.date.strftime("%B %d") %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="challenge-day-image-container">
              <% @challenge_day.images.each do |img| %>
                <img class="img-fluid" src="<%= url_for img %>" alt="loading image soon">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
