<turbo-frame id=<%= dom_id(@challenge_day) %>>
  <div class="challenge-day-card challenge-day-card--neutral card mb-2">
    <div class="card-body">
      <%= tag.p @challenge_day.date.strftime("%B %d"), class: "h4" %>
      <%= form_with url: challenge_day_path(@challenge_day), method: 'PATCH' do |f| %>
        <div class="form-check mb-3">
          <%= f.radio_button :status, :success, class: "form-check-input", id: dom_id(@challenge_day, "success_radio") %>
          <%= f.label :status, "Mark success", class: "form-check-label", for: dom_id(@challenge_day, "success_radio") %>
        </div>
        <div class="form-check mb-3">
          <%= f.radio_button :status, :fail, class: "form-check-input", id: dom_id(@challenge_day, "fail_radio") %>
          <%= f.label :status, "Mark fail", class: "form-check-label", for: dom_id(@challenge_day, "fail_radio") %>
        </div>
        <div class="input-group mb-3">
          <%= f.label "Upload", class: "input-group-text" %>
          <%= f.file_field :photo, class: "form-control" %>
        </div>
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</turbo-frame>
