<turbo-frame id="hare-ram">
    <div class="log-displayer">
      <%= tag.h3 @message %>
      <%= tag.ul do %>
        <% dates(@commits).each do |date| %>
          <li><%= date %>:
            <ul>
              <% commits_on_date(date, @commits).each do |commit| %>
                <%= tag.li "#{message(commit)}, Author: #{author(commit)}" %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </div>
    <%= form_with url: logs_url do |f| %>
      <h3 class="row">
        <p>View commits from a specific date:</p>
      </h3>
      <div class='row'>
        <div class="col">
          <%= f.label :year %>
          <%= select_year Date.today, {}, class: "form-select" %>
        </div>
        <div class="col">
          <%= f.label :month %>
          <%= select_month Date.today, {}, class: "form-select" %>
        </div>
        <div class="col mb-2">
          <%= f.label :day %>
          <%= select_day Date.today, {}, class: "form-select"  %>
        </div>
        <%= f.submit "Show logs", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="row mt-3">
      <%= tag.button class: "btn btn-danger" do %>
        <%= link_to "reset", logs_path %>
      <% end %>
    </div>
  </turbo-frame>
